<% if params[:secure_key] != nil %>

<% if defined?(@running) %>

<div class="session">
  <div class="box">
    <%= image_tag("dataiscoming.jpg", class: "box_image") %>
    <br />
    <p class="box_text">
      <b align="center">
        We're on it
      </b>

      Your data is now importing in the background. Sit back and relax while we do the work for you!
      <br />
      We will refresh this page every 5 seconds.<br /><br />
      <script>
        window.setTimeout(function(){
          window.location.reload();
        }, 5000)
      </script>
    </p>
    <p align="center"><a class="green_button" href="<%=app_path(@app)%>">Skip to Application</a></p><br />
  </div>
</div>

<% elsif defined?(@error) %>
  <div id="error_explanation">
    <h2>There was an error while importing your OpenKit-data: </h2>

    <ul>
    <li><%=@error%></li>
    </ul>

    The changes have been rolled back.
    If you like to have some assistance on this issue, please send a email to <a href="mailto:gameeso@codebuffet.co">gameeso@codebuffet.co</a> and include your process key (<%=params[:secure_key]%> as it is tied to helpful info)
  </div>
<% elsif defined?(@success) %>

  <div class="session">
    <div class="box">
      <%= image_tag("wedidit.jpg", class: "box_image") %>
      <br />
      <p class="box_text">
        <b align="center">
          You did it!
        </b>

        Your leaderboards, scores and users have been successfully imported to your application.
        <br />
        You can go back to your application now.<br /><br />
      </p>
      <p align="center"><a class="green_button" href="<%=app_path(@app)%>">Go to Application</a></p><br />
    </div>
  </div>

<% else %>

  <div id="error_explanation">
    <h2>The secure key '<%=params[:secure_key]%>' does not exist anymore :(</h2>

    <ul>
      <li>It propably already finised</li>
      <li>Click <a href="<%=app_path(@app)%>">here</a> to go back to your application</li>
    </ul>
  </div>

<% end %>

<% else %>

<div class="col_75 center">
  <div class="box">

<%= form_tag({action: :index}, multipart: true) do %>

  <h2>Import OpenKit Data</h2>

  <div class="list">
    Many of you have propably used OpenKit before hearing about Gameeso, and also saved your OpenKit data using the Exporter released way before our beta to secure data, preventing players losing their game stats (and preventing you from losing your users!)
    <br /><br />
    To import your data back into Gameeso, please upload your JSON below.
    <br /><br />
    <ul>
      <li>
        Importing data works only if the data is exported using the OpenKit exporter (see: <a href="https://github.com/Gameeso/OpenKit-Exporter">https://github.com/Gameeso/OpenKit-Exporter</a>)
      </li>
      <li>
        Imported data can safely coexist with existing Gameeso data. (this means that if you already run your game trough Gameeso and have openkit data to import you can safely do that)
      </li>
      <li>
        When a user already has a score in a leaderboard before importing (and there is a leaderboard with the same name both in the imported data and in Gameeso), <b>the highest score counts</b>.
        <ul class="sublist">
          <li>
            That means that if you have a leaderboard with the same name in the import data, AND a player has a score on that leaderboard,
            the user's score will be replaced only if the imported score is higher, otherwise his/her current score stays.
          </li>
        </ul>
      </li>
      <li>
        If you have a leaderboard with the same name already in your app, OpenKit importer will merge the leaderboards by adding the scores from the leaderboard you're importing to the existing leaderboard.
        <ul class="sublist">
          <li>e.g if you have a leaderboard named "lol" in Gameeso with 3 scores, and a leaderboard named "lol" in your OpenKit export data with 10 scores, you will end up with 1 leaderboard named "lol" in Gameeso, with 13 scores in it.</li>
        </ul>
      </li>
    </ul>

    <b>If you do not wish data to be merged with the conditions noted above, please create a new application on Gameeso and upload your data on the new app to make sure you start fresh.</b>

    <br /><br />
    <%= file_field_tag :datafile %>
  </div>

  <%= submit_tag "Import Data" %>

<% end %>

</div>
</div>

<% end %>
